@import "/variable.css";

* {
  transition : all 0.5s ease;
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment : fixed;
  background-repeat : no-repeat;
  background-position : center 0px;
  background-size: cover;
  color: var(--font-color);
  font-family: var(--font);
}

.navbar {
  background-color: var(--bar-color);
  position: fixed;
  top: 0px; left: 0px;
  width: 100vw;
  z-index: 9999;
  padding: 0.7ch;
  font-size: 115%;
  padding-left: 2em;
  padding-right: 2em;
  overflow-x: auto;
  color: var(--bar-font-color);
  box-shadow: 0px 0px 1em var(--bar-shadow);
}

.footer {
  color: var(--bar-font-color);
  background-color: var(--bar-color);
  position: fixed;
  bottom: 0px; left: 0px;
  padding: 0.7ch;
  padding-left: 2em;
  padding-right: 2em;
  border-top-right-radius: 1em;
  z-index: 9999;
}

.menu {
  height: 110vh;
  overflow: hidden;
  background-color: var(--menu-color);
  /*box-shadow: 0px 0px 1em var(--bar-shadow);*/
  z-index: 9998;
  position: fixed;
  top: 0px; right: 0px;
  border-radius: 1.5em;
  width: 0px;
}

.menu > .container {
  margin-top: 7ch;
  transform: translateX( -1.5em );
}

.menu-open {
  width: 3em;
}

.link-icon {
  height: 1em;
  padding-right: 0.5em;
  margin-bottom: -0.1em;
}

now::-webkit-scrollbar, .nav-title::-webkit-scrollbar {
  display: none;
}

.nav-title {
  display: inline-block;
  overflow-x: auto;
  max-width: 54vw;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.icon {
  height: auto;
  width: 3ch;
  border-radius: 50%;
  margin-right: 0.7ch;
  margin-bottom: -0.6ch;
}

.container {
  margin: 2em;
  margin-top: 7ch;
}

blockquote {
  border-left: 5px solid var(--bar-color);
  margin: 0px;
  padding: 1em;
  background-color: var(--bar-color-alpha);
  backdrop-filter: blur( 5px );
  color: var(--bar-font-color-alpha);
}

board {
  background-color: var(--board-color);
  color: var(--board-text-color);
  border-radius: 0.5em;
  display: block;
  width: calc( 100% - 2em );
  padding: 1em;
  margin-top: 1em;
  word-break: break-all;
}

now {
  border-left: 5px solid var(--bar-color);
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.directory {
  display: block;
  height: 2em;
  margin-top: 0.5em;
}

.directory:after {
  content: "/";
}

.file {
  display: block;
  height: 2em;
  margin-top: 0.5em;
}

.img-file-icon, .file-icon {
  width: 1em;
  height: 1em;
  border-radius: 25%;
  background-color: var(--bar-color);
  padding: 0.5em;
  margin-right: 1ch;
  margin-bottom: -0.5em;
  background-position: center center;
  background-size: 100% 100%;
}

.img-file-icon {
  width: 2em;
  height: 2em;
  padding: 0px;
  border-radius: 0px;
  background-color: #00000000;
}

#files {
  max-height: 50vh;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.button {
  background-color: var(--bar-color);
  border-radius: 0.5em;
  padding: 0.5em;
  color: var(--bar-font-color);
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.comment {
  color: var(--comment-color);
  size: 70%;
  margin-top: -5px;
}

#sakana-widget {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

#menu-btn {
  float: right;
  padding-right: 15vw;
}

/* 横屏适配 */
@media all and (orientation: landscape){
  .container {
    vertical-align: top;
  }
  #win-des {
    vertical-align: top;
    width: 20%;
    display: inline-block;
    margin: none;
  }
  #win-des > blockquote {
    width: 70%;
    border: none;
    border-top: 5px solid var(--bar-color);
    margin-top: 1em;
    /*writing-mode: vertical-lr;
    text-orientation: upright;*/
    overflow-x: auto;
    height: 70vh;
  }
  #win-files, #win-readme {
    vertical-align: top;
    display: inline-block;
    width: 35%;
    margin-left: 3%;
  }
  #menu-btn {
    padding-right: 5em;
  }
  board {
    width: 95%;
  }
}